*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

li {
  list-style: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {}

body input:required:valid, body textarea:required:valid {}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
}


/**** HEADER *****/

#header {
  width: 100%;
  height: 670px;
  background-image: url('/img/render.jpg');
  background-attachment: fixed;
  background-position: center;
}

.headerWrapper {
  height: 100%;
  background: rgba(2, 2, 4, 1);
  background: -moz-linear-gradient(top, rgba(2, 2, 4, 1) 0%, rgba(1, 2, 4, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2, 2, 4, 1)), color-stop(100%, rgba(1, 2, 4, 0)));
  background: -webkit-linear-gradient(top, rgba(2, 2, 4, 1) 0%, rgba(1, 2, 4, 0) 100%);
  background: -o-linear-gradient(top, rgba(2, 2, 4, 1) 0%, rgba(1, 2, 4, 0) 100%);
  background: -ms-linear-gradient(top, rgba(2, 2, 4, 1) 0%, rgba(1, 2, 4, 0) 100%);
  background: linear-gradient(to bottom, rgba(2, 2, 4, 1) 0%, rgba(1, 2, 4, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020204', endColorstr='#010204', GradientType=0);
}

.headerContainer {
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
}

.headerTop {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.headerTop__list {
  display: flex;
  margin-right: 10px;
}

.headerTop__list-item {
  margin: 10px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
}

.fa-envelope {
  margin-right: 5px;
}

.fa-mobile {
  margin-right: 5px;
}

.headerMiddle {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.headerMiddle__logoName {
  width: 20%;
  margin-left: 10px;
}

.headerMiddle__name {
  font-weight: 400;
  font-size: 40px;
  color: #ffaf00;
  text-transform: uppercase;
  margin-top: 15px;
}

.headerMiddle__nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.headerMiddle__nav-list {
  display: flex;
}

.headerMiddle__list-item a {
  margin: 0 15px;
  padding: 5px 0;
  color: #fff;
  font-weight: 100;
  font-size: 0.9em;
  border-bottom: solid 2px transparent;
  transition: border 0.5s;
}

.headerMiddle__list-item a:hover {
  border-bottom: solid 2px #ffaf00;
}

.headerBottom {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerBottom__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
}

.headerBottom__description {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  margin-top: 0;
}

.headerBottom__link {
  padding: 10px 30px;
  background: #ffaf00;
  color: #fff;
  border-radius: 3px;
}
.fa-angle-double-down {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}


/***** CONTENT *****/

#content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  flex-grow: 1;
}

.contentContainer {
  max-width: 1500px;
  height: inherit;
  margin: 0 auto;
}

.content__title {
  font-size: 27px;
  font-weight: 800;
  color: #333;
  margin: 0 40px;
}

.content__line {
  width: 100px;
  height: 3px;
  background: #ffaf00;
  border: 0;
  margin-top: 10px;
  margin-left: 40px;
}


/***** OURACTIVITY *****/

.ourActivity {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background: #fff;
}

.ourWork__description {
  text-align: center;
}

.ourActivity__box {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ourActivity__item {
  width: 370px;
  height: 310px;
  margin: 0.5%;
  overflow: hidden;
  position: relative;
}

.ourActivity__img-wrapper {
  width: 370px;
  height: 185px;
  margin: 2px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ourActivity__img-wrapper img {
  width: inherit;
  transition: all 0.5s;
}

.ourActivity__img-wrapper img:hover {
  transform: scale(1.1);
}

.ourActivity__item-wrapper {
  width: auto;
  height: auto;
  margin-top: 15px;
}

.ourActivity__item-title {
  font-weight: 800;
  color: #333;
  font-size: 1em;
  margin: 5px;
}

.ourActivity__item-btn {
  font-weight: 800;
  color: #ffaf00;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: -15px;
  margin-left: 5px;
}

.ourActivity__item-btn:hover {
  border-bottom: solid 1px #ffaf00;
}

.project {}

.technic {}

.stall {}

.metal {}

.job {}

.fences {}

.facade {}

.architecture {}

.interior3d {}


/***** WHYCHOOSEUS *****/

.whyChooseUs {
  width: 100%;
  height: auto;
  /*padding: 40px 0;*/
}

.whyChooseUs__box {
  width: 100%;
  height: 500px;
  background-image: url('/img/meeting2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.whyChooseUs__wrapper {
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.whyChooseUs__title {
  font-size: 1.2em;
  font-weight: 100;
  color: #ffaf00;
  text-transform: uppercase;
  margin: 20px;
}
.whyChooseUs__description {
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  width: 80%;
  margin: 0 15px;
  color: #fff;
}


/***** OURWORK *****/

.ourWork {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background: #fff;
}
.ourWork__description {
  float: left;
  margin: 0 40px;
  color: #333;
  font-weight: 600;
  font-size: 1em;
}
.ourWork__box {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ourWork__item {
  width: 25%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.ourWork__item:hover .ourWork__item-hidden {
  bottom: 0;
}

.ourWork__item-hidden {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  background: #333;
  transition: bottom 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
/***** OURPARTNER *****/
.ourPartner {
  width: 100%;
  height: 500px;
  padding: 40px 0;
  background: #fff;
}
.ourPartner__box {

}
/***** FOOTER *****/

#footer {
  width: 100%;
  min-height: 100px;
  background: #454545;
}

.hidden {
  display: none;
}

.carousel img {
  width: 100%;
  height: auto;
}

.parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  position: relative;
}
